nav {
  text-align: center;
    width: 100%;
}

ul {
  width: 100%;
    list-style-type: none;
    padding: 0;
}

li {
  width: 30%;
  display: inline-block;
  @include font-size(18pt);
}
a{
  color: #000;
text-decoration: none; /* no underline */
}

a:hover {
    text-decoration: underline;
}

@media all and (max-width: 600px) {

}
